<% include ./../../../helpers/status %>
<% include ./../../../helpers/pagination %>

<% 
  const collection = 'articles';
  const linkPrefix = systemConfig.prefixAdministrator + `/${collection}/`;
%>

<div class="alert alert-success" role="alert">

    <span class="close-btn">&times;</span> Thay đổi Trạng thái thành công

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Tìm kiếm & Lọc
                <a href="admin123/item">
                    <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="status-list col-sm-6 pl0">

                        <a class="btn m-b-sm btn-success btn-sm" href="admin123/item/all">
                            TẤT CẢ (3)
                        </a>

                        <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/active">
                            ĐÃ XUẤT BẢN (2)
                        </a>

                        <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/inactive">
                            ĐÃ ĐƯỢC DUYỆT (1)
                        </a>

                    </div>
                    <div class="col-sm-5">
                        <form action="admin123/item/all" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" placeholder="Tìm kiếm..."
                                    value="">
                                <input type="hidden" value="all">

                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">Tìm kiếm</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><a href="admin123/group/all">Dọn
                                            dẹp</a></button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                Danh sách bài viết
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên bài viết</th>
                                    <th>Chuyên mục</th>
                                    <th>Trạng thái</th>
                                    <th>Tên phóng viên</th>
                                    <th>Tên biên tập viên</th>
                                    <th>Thời gian xuất bản</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data.length > 0) { 
                                    data.forEach( (item, index) => { %>
                                <tr>
                                    <td>
                                        <%= (params.pagination.currentPage-1)*(params.pagination.totalItemsPerPage) + index + 1 %>
                                    </td>
                                    <td>
                                        <a href=""><%= item.name %></a>
                                    </td>
                                    <td>
                                        <%= item.category.name %>
                                    </td>
                                    <td>
                                        <%- statusHelper(linkPrefix, item.status, item.id, collection) %>
                                    </td>
                                    <td>
                                        <%= item.created.user_name %>
                                    </td>
                                    <td>
                                        <%= item.browsed.user_name %>
                                    </td>
                                    <td>
                                        <%= item.expected_publish_time %>
                                    </td>
                                    <td>
                                        <a href="<%= linkPrefix %>delete/<%= item.id %>" type="button"
                                            class="btn btn-danger btn-sm btn-delete">Xóa</a>
                                    </td>
                                </tr>
                                <% });
                                } else { %>
                                <tr>
                                    <td colspan="9">
                                        <h3>Không có dữ liệu</h3>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <%- paginationHelper(params.pagination, linkPrefix, params.currentStatus, params.keyword) %>
    </div>
</div>