<% include ./../../helpers/image %>
<%
    const linkPrefix = systemConfig.prefixFrontend + `/auth/`;
    const folderUpload = 'uploads/users/';
%>

<link rel="stylesheet" href="frontend/css/signup_style.css">

<div class="signup-form">
    <form action="<%= linkPrefix %>info" enctype="multipart/form-data" method="post">
        <h2>Your Information</h2>
        <p class="hint-text">Edit your info</p>
        <% include ./../../elements/errors %>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Tên đăng nhập
                    </div>
                </div>
                <input type="text" class="form-control" name="username" placeholder="Username" value="<%= user.username %>" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Ảnh đại diện
                    </div>
                </div>
                <input type="file" class="form-control" name="avatar" placeholder="Avatar">
            </div>
        </div>
        <% if (user.id !== undefined && user.id !== '') { %>
            <div class="form-group">
              <label></label>
              <%- imageHelper(folderUpload, user.avatar, user.name, 'img-avatar-form') %>
            </div>
        <% } %>
            
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Họ tên
                    </div>
                </div>
                <input type="text" class="form-control" name="name" placeholder="Name" value="<%= user.name %>">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Bút danh
                    </div>
                </div>
                <input type="text" class="form-control" name="alias" placeholder="Alias" value="<%= user.alias %>">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Email
                    </div>
                </div>
                <input type="email" class="form-control input-lg" name="email" placeholder="Email Address" value="<%= user.email %>" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Ngày sinh
                    </div>
                </div>
                <input type="date" class="form-control" name="dob" placeholder="Ngày sinh" value="<%= date %>">
            </div>
        </div>
        <div class="form-group">
            <input name="image_old" value="<%= user.avatar %>" type="hidden"/>
            <input class="form-control" name="date" value="<%= user.dob %>" type="hidden">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sửa đổi</button>
        </div>
    </form>
</div>
