<% 
  const collection = 'articles';
  const linkPrefix = systemConfig.prefixEditor + `/${collection}/`;
%>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Biểu mẫu
            </div>
            <div class="panel-body">
                <% include ./../../elements/errors %>
                <div class="row">
                    <div class="col-lg-6">
                        <% let link = '';
                            if (pageTitle == 'Từ chối bài viết') { 
                                link = linkPrefix + 'refuse/save';
                            } else if (pageTitle == 'Duyệt bài viết' && setting_time_publish == false) {
                                link = linkPrefix + 'browse/' + article.id;
                            } else if (pageTitle == 'Duyệt bài viết' && setting_time_publish == true) {
                                link = linkPrefix + 'browse/save';
                            } %>
                        
                        <form role="form" action="<%= link %>" method="POST">
                            <% if (pageTitle == 'Duyệt bài viết') { %>
                                <% if (setting_time_publish == false) { %>
                                    <div class="form-group">
                                        <label>Nhãn tag</label>
                                        <br/>
                                        <% if (items != '') items += ',';
                                            article.tags.forEach((item) => { %>
                                            <span class="tm-tag tm-tag-info">
                                                <span><%= item %></span>
                                                <a href="<%= linkPrefix %>browse/<%= article.id %>/delete-tags/<%= items + item %>" class="tm-tag-remove">x</a>
                                            </span>
                                        <% }) %>
                                        <input type="text" name="tags" placeholder="Nhập các tag" class="tm-input form-control tm-input-info"/>
                                    </div>
                                    <script type="text/javascript">
                                        $(".tm-input").tagsManager();
                                    </script>

                                    
                                    
                                <% } %>
                                
                                <% if (setting_time_publish == true) { %>
                                    <div class="form-group">
                                        <label>Thời điểm xuất bản</label>
                                        <div class='input-group date' id="datetimepicker1">
                                            <input type='text' class="form-control" name="expected_publish_time"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <script>
                                            $('#datetimepicker1').datetimepicker({
                                                allowInputToggle: true
                                            });
                                        </script>
                                    </div>
                                <% } %>
                                
    
                                <input name="tags" value="<%= article.tags %>" type="hidden"/>
                                <input name="items" value="<%= items %>" type="hidden"/>
                                <input name="tags_old" value="<%= article.tags %>" type="hidden"/>
                                
                            <% } else if (pageTitle == 'Từ chối bài viết') { %>
                                <div class="form-group">
                                    <label>Lý do từ chối</label>
                                    <textarea class="form-control" name="refuse_reason" value=""></textarea>
                                </div>
                            <% } %>
                            
                            <div>
                                <input class="form-control" name="id" value="<%= article.id %>" type="hidden">
                                <button type="submit" class="btn btn-primary">Hoàn tất </button>
                                <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Hủy bỏ</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>