<% include ./../../helpers/article-type %>
<% include ./../../helpers/status %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/image %>
<% include ./../../helpers/filter-status %>
<%
    const collection = 'articles';
    const linkPrefix = systemConfig.prefixEditor + `/${collection}/`;
    const position = 'Biên tập viên';
    const folderUpload = 'uploads/articles/';
%>


<% include ./../../elements/notify %>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Tìm kiếm & Lọc
                <a href="<%= linkPrefix %>status/all">
                    <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="status-list col-sm-6 pl0">
                        <%- filterStatusHelper(linkPrefix, statusFilter, params.keyword) %>
                    </div>
                    <div class="col-sm-6">
                        <form action="<%= linkPrefix %>status/<%= params.currentStatus %>" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Tìm kiếm..."
                                    value="<%= params.keyword %>">
                                <input type="hidden" value="all">

                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">Tìm kiếm</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><a href="<%= linkPrefix %>status/<%= params.currentStatus %>">Dọn
                                            dẹp</a></button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                Danh sách bài viết
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tiêu đề</th>
                                    <th>Ảnh bìa</th>
                                    <th>Loại bài viết</th>
                                    <th>Trạng thái</th>
                                    <th>Tên phóng viên</th>
                                    <th>Thời điểm xuất bản</th>
                                    <th>Lý do từ chối</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data.length > 0) {
                                    data.forEach( (item, index) => { %>
                                        <tr>
                                            <td>
                                                <%= (params.pagination.currentPage-1)*(params.pagination.totalItemsPerPage) + index + 1 %>
                                            </td>
                                            <td>
                                                <a href=""><%= item.name %></a>
                                            </td>
                                            <td>
                                                <%- imageHelper(folderUpload, item.thumb, item.name) %>
                                            </td>
                                            <td>
                                                <%- articleTypeHelper(linkPrefix, item.type, item.id) %>
                                            </td>
                                            <td>
                                                <%- statusHelper(linkPrefix, item.status, item.id, collection, position) %>
                                            </td>
                                            <td>
                                                <%= item.created.user_name %>
                                            </td>
                                            <td>
                                                <%= moment(item.expected_publish_time).format(systemConfig.format_long_time) %>
                                            </td>
                                            <td>
                                                <%= item.refuse_reason %>
                                            </td>
                                            <td>
                                                <% if (item.status == 'Chưa được duyệt') { %>
                                                    <a href="<%= linkPrefix %>browse/<%= item.id %>" type="button"
                                                        class="btn btn-warning btn-sm">Duyệt</a>
                                                    <a href="<%= linkPrefix %>refuse/<%= item.id %>" type="button"
                                                        class="btn btn-danger btn-sm btn-warning">Từ
                                                        chối</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% });
                                    } else { %>
                                        <tr><td colspan="9"><h3>Không có dữ liệu</h3></td></tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <%- paginationHelper(params.pagination, linkPrefix, params.currentStatus, params.keyword) %>
    </div>
</div>