<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#">
                    <i class="fa fa-group fa-fw"></i> Tài khoản
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse on" aria-expanded="true">
                    <li>
                        <a href="/"><i class="fa fa-angle-double-right   fa-fw"></i> Trang chủ </a>
                    </li>
                    <li>
                        <a href="/auth/logout"><i class="fa fa-angle-double-right   fa-fw"></i> Đăng xuất </a>
                    </li>
                </ul>
            </li>
            <li>
            <% if (moduleTitle == 'PHÂN HỆ PHÓNG VIÊN') { %>
                <a href="/<%= systemConfig.prefixWriter %>">    
            <% } else if (moduleTitle == 'PHÂN HỆ BIÊN TẬP VIÊN') { %>
                <a href="/<%= systemConfig.prefixEditor %>">   
            <% } else if (moduleTitle == 'PHÂN HỆ QUẢN TRỊ VIÊN') { 
                if (pageTitle.includes('chuyên mục')) { %>
                <a href="/<%= systemConfig.prefixAdministrator %>/categories">  
                <% } else if (pageTitle.includes('tag')) { %>
                <a href="/<%= systemConfig.prefixAdministrator %>/tags">
                <% } else if (pageTitle.includes('bài viết')) { %>
                <a href="/<%= systemConfig.prefixAdministrator %>/articles">
                <% } else if (pageTitle.includes('người dùng')) { %>
                <a href="/<%= systemConfig.prefixAdministrator %>/users">  
                <% } %> 
            <% } %> 

                <% if (moduleTitle != 'ERROR PAGE') { %>
                    <i class="fa fa-dashboard fa-fw"></i> CRUD
                <% } %>
                    
                </a>
            </li>
            
            <% if (moduleTitle == 'PHÂN HỆ QUẢN TRỊ VIÊN') { %>
                <li>
                    <a href="#">
                        <i class="fa fa-group fa-fw"></i> Quản lý Items
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse on" aria-expanded="true">
                        <li>
                            <a href="/<%= systemConfig.prefixAdministrator %>/categories"><i class="fa fa-angle-double-right   fa-fw"></i> Chuyên mục </a>
                        </li>
                        <li>
                            <a href="/<%= systemConfig.prefixAdministrator %>/tags"><i class="fa fa-angle-double-right   fa-fw"></i> Tag </a>
                        </li>
                        <li>
                            <a href="/<%= systemConfig.prefixAdministrator %>/articles"><i class="fa fa-angle-double-right   fa-fw"></i> Bài viết </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-group fa-fw"></i> Quản lý Users
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse on" aria-expanded="true">
                        <li>
                            <a href="/<%= systemConfig.prefixAdministrator %>/users"><i class="fa fa-angle-double-right   fa-fw"></i> Người dùng </a>
                        </li>
                    </ul>
                </li>
            <% } %>
            
        </ul>
    </div>
</div>