<% include ./../../helpers/image %>
<% include ./../../helpers/select-box %>

<% 
  const collection = 'articles';
  const linkPrefix = systemConfig.prefixWriter + `/${collection}/`;
  const folderUpload = 'uploads/articles/';
%>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Biểu mẫu
            </div>
            <div class="panel-body">
                <% include ./../../elements/errors %>
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="<%= linkPrefix %>save/" enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <label>Tiêu đề</label>
                                <input class="form-control" name="name" value="<%= article.name %>">
                            </div>

                            <div class="form-group">
                                <label>Ảnh bìa</label>
                                <input class="form-control" type="file" name="thumb">
                            </div>
                            <% if (article.id !== undefined && article.id !== '') { %>
                                <div class="form-group">
                                  <label></label>
                                  <%- imageHelper(folderUpload, article.thumb, article.name, 'img-avatar-form') %>
                                </div>
                            <% } %>

                            <div class="form-group">
                                <label>Chuyên mục</label>
                                <%- selectBoxHelper('category_id', listCategories, article.category.id) %>
                            </div>

                            <div class="form-group">
                                <label>Nhãn tag</label>
                                <br/>
                                <% if (items != '') items += ',';
                                    article.tags.forEach((item) => { %>
                                    <span class="tm-tag tm-tag-info">
                                        <span><%= item %></span>
                                        <a href="<%= linkPrefix %>form/<%= article.id %>/delete-tags/<%= items + item %>" class="tm-tag-remove">x</a>
                                    </span>
                                <% }) %>
                                <input type="text" name="tags" placeholder="Nhập các tag" class="tm-input form-control tm-input-info"/>
                            </div>
                            <script type="text/javascript">
                                $(".tm-input").tagsManager();
                            </script>
                            

                            <div class="form-group">
                                <label>Loại bài viết</label>
                                <select name="type" class="form-control">
                                    <option value="novalue" <% (article.type == 'novalue') ? 'selected="selected"' : '' %> >Chọn loại bài viết</option>
                                    <option value="normal" <%= (article.type == "Thông thường") ? 'selected="selected"' : '' %> >Thông thường</option>
                                    <option value="premium" <%= (article.type == "Premium") ? 'selected="selected"' : '' %> >Premium</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Tóm tắt</label>
                                <textarea class="form-control" name="summary" value="<%= article.summary %>"><%= article.summary %></textarea>
                            </div>

                            <div class="form-group">
                                <label>Nội dung</label>
                                <textarea class="form-control" name="content" rows="2" id="content_ckeditor" value="<%- article.content %>"><%- article.content %></textarea>
                            </div>

                            <div>
                                <input name="items" value="<%= items %>" type="hidden"/>
                                <input name="tags_old" value="<%= article.tags %>" type="hidden"/>
                                <input name="image_old" value="<%= article.thumb %>" type="hidden"/>
                                <input class="form-control" name="id" value="<%= article.id %>" type="hidden">
                                <input class="form-control" name="category_name" value="<%= article.category.name %>" type="hidden">
                                <button type="submit" class="btn btn-primary">Hoàn tất </button>
                                <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Hủy bỏ</a>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace('content_ckeditor');
</script>