<% include ./../../helpers/pagination %>

<% 
    function createSlug(value) {
        var str = value;
        str = str.toLowerCase();
        str = str.replace(/à|á|ạ|ả|ã|â|ấ|ầ|ẩ|ẫ|ậ|ă|ắ|ằ|ẳ|ẵ|ặ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ế|ề|ể|ễ|ệ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ứ|ừ|ử|ữ|ự/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
        str = str.replace(/ *? /g, "-");
        str = str.trim();
        return str;
    }
    const folder_uploads = 'uploads/articles/';
    const linkPrefix = systemConfig.prefixFrontend + `/`;
%> 

<link rel="stylesheet" href="frontend/css/home_style.css">

<!-- Homepage -->
<div class="container">
    <!-- 3-4 popular news -->
    <!-- two column, once big with one item, the other small with three items -->
    <div class="container topnews">
        <h3 class="display-4 heading">Top news</h3>
        <div class="row">
            <% if (articlesTopViews.length > 0) { %>
            <div class="col-md-6 mb-1 mb-xs-2 mb-sm-3 mb-md-0 mb-lg-0">
                <div class="card bigcard">
                    <a href="/details/<%= createSlug(articlesTopViews[0].name) %>">
                        <img src="<%= folder_uploads + articlesTopViews[0].thumb %>" class="img-fluid" alt="<%= articlesTopViews[0].thumb %>">
                    </a>
                    <div class="card-body">
                        <% if (articlesTopViews[0].type == 'Premium') { %>
                            <div class="btn btn-sm btn-warning btn-inline">PREMIUM</div>
                        <% } %>
                        <a href="/details/<%= createSlug(articlesTopViews[0].name) %>" class="text-decoration-none">
                            <h5 class="card-title"><%= articlesTopViews[0].name %></h5>
                        </a>
                        <p class="card-text cat-time">
                            <small class="text-muted">
                                <a href="/categories/<%= createSlug(articlesTopViews[0].category.name) %>" class="text-muted"><%= articlesTopViews[0].category.name %></a>
                                <span class="middotDivider"></span><%= moment(articlesTopViews[0].published.time).format(systemConfig.format_long_time) %>
                            </small>
                        </p>
                        <p class="card-text"><%= articlesTopViews[0].summary %></p>
                    </div>
                </div>
            </div>
            <% } %>

            <% if (articlesTopViews.length > 1) { %>
            <div class="col-md-6 group-small-card">
                <% for (let pos = 1; (articlesTopViews.length < 4) ? (pos < articlesTopViews.length) : (pos < 4); pos++) { %>
                <div class="card card-small">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <a href="/details/<%= createSlug(articlesTopViews[pos].name) %>">
                                <img src="<%= folder_uploads + articlesTopViews[pos].thumb %>" class="img-fluid imgsmall" alt="<%= articlesTopViews[pos].thumb %>">
                            </a>
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <% if (articlesTopViews[pos].type == 'Premium') { %>
                                    <div class="btn btn-sm btn-warning btn-inline">PREMIUM</div>
                                <% } %>
                                <a href="/details/<%= createSlug(articlesTopViews[pos].name) %>">
                                    <h5 class="card-title"><%= articlesTopViews[pos].name %></h5>
                                </a>
                                <p class="card-text cat-time">
                                    <small class="text-muted">
                                        <a href="/categories/<%= createSlug(articlesTopViews[pos].category.name) %>" class="text-muted"><%= articlesTopViews[pos].category.name %></a>
                                        <span class="middotDivider"></span><%= moment(articlesTopViews[pos].published.time).format(systemConfig.format_long_time) %>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>

    <hr class="my-4 container">

    <!-- 10 most read news -->
    <div class="container">
        <h1 class="display-4 heading">Most views</h1>
        <div class="row">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                
                        <div class="carousel-item active">
                            <div class="d-none d-lg-block no-gutters">
                                <div class="slide-box">
                                <% for (let pos = 0; (articlesMostViews.length < 5) ? (pos < articlesMostViews.length) : (pos < 5); pos++) { %>
                                    <div class="card">
                                        <a href="/details/<%= createSlug(articlesMostViews[pos].name) %>">
                                            <img class="card-img-top cardimg" src="<%= folder_uploads + articlesMostViews[pos].thumb %>" alt="<%= articlesMostViews[pos].thumb %>">
                                        </a>
                                        <div class="card-body">
                                            <% if (articlesMostViews[pos].type == 'Premium') { %>
                                                <div class="btn btn-sm btn-warning btn-inline">PREMIUM</div>
                                            <% } %>
                                            <a href="/details/<%= createSlug(articlesMostViews[pos].name) %>" class="stretched-link">
                                                <h5 class="card-title"><%= articlesMostViews[pos].name %></h5>
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
                                </div>
                            </div>
                        </div>
                    
                        <% if (articlesMostViews.length > 5) { %>
                        <div class="carousel-item">
                            <div class="d-none d-lg-block no-gutters">
                                <div class="slide-box">
                                <% for (let pos = 5; (articlesMostViews.length < 10) ? (pos < articlesMostViews.length) : (pos < 10); pos++) { %>
                                    <div class="card">
                                        <a href="/details/<%= createSlug(articlesMostViews[pos].name) %>">
                                            <img class="card-img-top cardimg" src="<%= folder_uploads + articlesMostViews[pos].thumb %>" alt="<%= articlesMostViews[pos].thumb %>">
                                        </a>
                                        <div class="card-body">
                                            <% if (articlesMostViews[pos].type == 'Premium') { %>
                                                <div class="btn btn-sm btn-warning btn-inline">PREMIUM</div>
                                            <% } %>
                                            <a href="/details/<%= createSlug(articlesMostViews[pos].name) %>" class="stretched-link">
                                                <h5 class="card-title"><%= articlesMostViews[pos].name %></h5>
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <hr class="mt-4 mb-2 container">
    <!-- 10 new news -->
    <!-- top 10 news -->
    <div class="container">
        <div class="row">

            <div class="col-md-8 group-small-card">
                <h3 class="display-4 heading">New news</h3>
                <% articlesNew.forEach((article) => { %>
                <div class="card card-small">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <a href="/details/<%= createSlug(article.name) %>"><img src="<%= folder_uploads + article.thumb %>" class="img-fluid imgsmall" alt="<%= article.thumb %>"></a>
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <% if (article.type == 'Premium') { %>
                                    <div class="btn btn-sm btn-warning btn-inline">PREMIUM</div>
                                <% } %>
                                <a href="/details/<%= createSlug(article.name) %>">
                                    <h5 class="card-title"><%= article.name %></h5>
                                </a>
                                <p class="card-text cat-time">
                                    <small class="text-muted">
                                        <a href="/categories/<%= createSlug(article.category.name) %>" class="text-muted"><%= article.category.name %></a>
                                        <span class="middotDivider"></span><%= moment(article.published.time).format(systemConfig.format_long_time) %>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>

            <div class="col-md-4 group-small-card">
                <!-- Need not to stretch -->
                <h3 class="display-4 heading">New news categories</h3>
                <% articlesTopNewCategories.forEach((article) => { %>
                <div class="card card-small">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <a href="/details/<%= createSlug(article.name) %>">
                                <img src="<%= folder_uploads + article.thumb %>" class="img-fluid imgsmall" alt="<%= article.thumb %>">
                            </a>
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <% if (article.type == 'Premium') { %>
                                    <div class="btn btn-sm btn-warning btn-inline">PREMIUM</div>
                                <% } %>
                                <a href="/details/<%= createSlug(article.name) %>">
                                    <h5 class="card-title"><%= article.name %></h5>
                                </a>
                                <p class="card-text cat-time">
                                    <small class="text-muted">
                                        <a href="/categories/<%= createSlug(article.category.name) %>" class="text-muted"><%= article.category.name %></a>
                                        <span class="middotDivider"></span><%= moment(article.published.time).format(systemConfig.format_long_time) %>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>

        </div>
    </div>
    <br class="my-5">
</div>

<hr class="my-4 container">
<nav aria-label="Page navigation example">
    <%- paginationHelper(params.pagination, linkPrefix, params.keyword) %>
</nav>